body,
html {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgb(0, 0, 0);
}

h1,
h2,
p {
  font-family: "Libre Baskerville", serif;
  color: lightgrey;
  text-align: center;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

header {
  background-image: url("pair2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  /* font-family: 'Viner Hand ITC', serif;
    font-size: 96px;
    color: lightgrey;
    text-align: center; */
  margin-left: 0 auto;
  margin-right: 0 auto;
  height: 50%;
}

.parallax {
  background-color: white;
  background-image: url("intro.jpg");
  height: 75%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("parallax2.jpg");
  height: 75%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-kerning: 1.1px;
  line-height: 1.65;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

@media (max-width: 769px) {
  body {
    width: 100%;
  }

  header {
    font-size: 32px;
    height: 10%;
    padding: 5%;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}
